<!doctype html>
  {% load staticfiles %}
<html>


  <head>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


            <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/js/bootstrap.js' %}">

  </head>

  <body>

    {% block content %}
        <h1>Robot</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }} {{ampiezza}}
            <button type="submit" class="post-form">Crea</button>
          </form>
          {% endblock %}

          {%for listaMappe in listaMappe%}
          {{listaMappe}}
          <br>
          {%endfor%}


    </body>


</html>
