<!doctype html>
  {% load staticfiles %}
<html>


  <head>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.css' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap-grid.css' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap-grid.min.css' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap-grid.min.css.map' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap-reboot.css' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap-reboot.css.map' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap-reboot.min.css' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap-reboot.min.css.map' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.css.map' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">-->
            <!--<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css.map' %}">-->

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <link rel="stylesheet" href="{% static 'grafici.css' %}">

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body style="background-image: url({% static 'resources/gradientLinear.png' %}); background-repeat: no-repeat;">

    {% block content %}

    {% if messages %}
    <br>
    <center>
        <div class="alert alert-success col-6" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    <center>
    {% endif %}

        <div>
        <h1 class="pageTitle">Robot</h1>
    </div>

    <div class="container">

      <div class="col-sm">

        <form method="POST" class="post-form">{% csrf_token %}
          <div class="form-control" style="background: linear-gradient(45deg, rgb(192,192,192), rgb(128,128,128)); border: hidden;">
          <div class="row formPrincipale">
              <div class="col-sm-4">
                {{ form.as_p }}
              </div>
            <br>
            <div class="col-sm-5">
                {{ampiezza}}
                <br>
            </div>
            <br>
            <div class="col-sm-3">

              <button type="submit" class="bottone btn btn-secondary">Crea</button>

            </div>

          </div>

          </form>
          {% endblock %}
        </div>
      </div>

      <h6>Mappe:</h6>

      <div class="row">
          {%for listaMappe in listaMappe%}
          <div class="col listaMappe">
            <p>{{listaMappe}}</p>
          </div>
        <br>
        {%endfor%}

      </div>

    </div>

    </body>


</html>
