
robotica/app/__pycache__/forms.cpython-36.pyc
*.pyc
.DS_Store
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
robotica/app/__pycache__/admin.cpython-36.pyc
*.pyc
Test/rad.py
Test/rad.py
robotica/grafici.py
