h6 {
  margin-top: 60px;

}

.listaMappe {
  margin-top: 20px;
}

.formPrincipale {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pageTitle {
  text-align: center;
}

body{
   color: #9193a8;
   background:  #141526;
}

.box{
  border-color: #FFFF00;
  border-style: 1px;
  background:  #14122e;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(184,184,120,1);
  -moz-box-shadow: 0px 0px 13px 1px rgba(184,184,120,1);
  box-shadow: 0px 0px 13px 1px rgba(184,184,120,1)
}
input{
  border-style: solid;
	font-size: 13px;
    background-color: #141526;
    border-color: #FFFF00;
    color: white;
    padding: 5px;
    outline: inherit;
    line-height: 1.3333333;
    border-radius: 5px;
    box-shadow: none;
    margin-top: 10px;
}

input:hover{
	border-color: white;
    color: #9193a8;
